<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../head'); -%>
  <body>
    <h1>Pies</h1>
    <ul>
      <%_ for (const pie of pie) {-%>
      <li><a href="/pies/<%= pie.id -%>"><%= pie.flavor -%></a></li>
      <%_ } -%>
    </ul>
  </body>
</html>
