<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Florist</title>
  </head>
  <body>
  <h1>Request</h1>
    <form>
      <input type="text" id="method" placeholder="method">
      <input type="text" id="path" placeholder="path">
      <input type="text" id="body" placeholder="body">
      <button>Send</button>
    </form>
    <h1>Response</h1>
    <textarea rows="5" cols="85"></textarea>
  </body>
</html>
